*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
}

h1{
    padding-top: 10px;
}

.conteudo{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "f p r c";
    grid-template-columns: 25% 25% 25% 25%;

}

.painel{
    margin-top: 30px;
    height: 450px;
    width: 85%;
    border: solid;
    border-width: 1px;

}

.titulo{
    width: 100%;
    color: white;
    background-color: black;
}

#barra{
    width: 100%;
    height: 10px;
    background-color: darkgreen;
}

#afazer{
    grid-area: f;
    display: flex;
    justify-content: center;
}

#progresso{
    grid-area: p;
    display: flex;
    justify-content: center;
}

#revisao{
    grid-area: r;
    display: flex;
    justify-content: center;
}



#completo{
    grid-area: c;
    display: flex;
    justify-content: center;
}

#externo{
    margin: 10px;
}